body{
  text-align: center;
  background-color: rgb(201, 217, 229);

}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.labels{
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 10px;


}

.input{
  width: 200px;
  height: 20px;
  margin: 10px;

}

.button{
  width: 150px;
  height: 40px;
  margin: 10px;
  background-color: lightgreen;
  border-radius: 10px;
}

.success{
  font-size: 22px;
  color: green;

}
.error{
  font-size: 22px;
  color: red;

}